PORT = 
MONGODB_URL = 
MAIL_USER = 
MAIL_PASSWORD = 
JWT_ACCESS_TOKEN_EXPIRED = 
JWT_SECRET_KEY = 
JWT_REFRESH_TOKEN_SECRET = 
JWT_REFRESH_TOKEN_EXPIRED = 
# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
